[Desktop Entry]
Name=FormatFlow
Comment=Organize files efficiently
Exec=formatflow
Icon=formatflow
Terminal=false
Type=Application
Categories=Utility;
